/* CSS Reset
Removes browser preset properties
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  color: rgba(0,0,0,0.7);
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Intro section*/
em{
  color:blue;
}
.about-intro-div{
margin: 40px 40px;
}
.about-intro-section{
  text-align: left;
  width: 70%;
  line-height:1.5em;
  font-size: 1.3em;
  margin: 0 auto;
}
/*font-awesome styling */
.font-awesome{
  display: inline-block;
  margin-top: 30px;
  margin-left: 14%;
}

.fa-github{
  color: #728CA3;
}
.fa-linkedin{
color: #73C0F4;
}
.fa-wordpress{
color:#0ABDA0;
}
.fa-twitter{
color: #F3E4C6;
}
.fa-file-pdf-o{
  color: #8F4F06;
}
.fa-link{
  color: #728CA3;
}

/*Projects section*/

.project-section-first-half{
  display: block;
margin: 4% 3%;
}
.project-section-titles{
  padding-left: 10%;
    margin-top: 2%;
    color: white;
  line-height: 1.5em;
}
.project-section-descriptions{
  padding-left: 10%;
    margin-top: 4%;
    color: white;
    line-height: 1.5em;
}
.project-section-technologies{
  margin-left: 10%;
  border-left:2px rgba(255, 255, 255, 0.8) dashed;
  padding-left: 10px;
  color: white;
  line-height: 3em;
}
.project-locations{
  margin-left: 10%;

}
.project-locations a {
    /* padding-right: 2%; */
    margin-right: 2%;
}
.project-locations a i {
  padding-right: 2%;
}
/* Grievance form Section*/
.grievance-project-section{
  background: #73C0F4;
  height: 420px;
  float: left;
  width: 40%;
  padding: 10px 2% 10px 2%;
  border-radius: 10px;
}
.grievance-project-image{
  width: 80%;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;

}
/* Random quote machine section*/
.random-quote-project-section{
  background: #E6EFF3;
  float: right;
  height: 420px;
  width: 40%;
  padding: 10px 2% 10px 2%;
  border-radius: 10px;
}
.random-quote-project-image{
  width: 80%;
  display: block;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
/*float clears and link styling*/
.project-section-first-half::after{
  display: block;
  content: "";
  clear: both;
}
.project-locations a:link{
  color: white;
  text-decoration: none;
}
.project-locations a:visited{
  color:white;
  text-decoration: none;
}
/*media querie*/
@media (max-width:1020px) {
  .projects-div{
    width: 100%;
    margin:0 auto;
  }
  .project-section-first-half{
    margin: 0 auto;
  }
.grievance-project-section{
  width: 100%;
  float: none;
  height: auto;
}
.random-quote-project-section{
  width: 100%;
  float: none;
  height: auto;
}
}
