a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: aliceblue;
}

a:hover {
    color: white;
}

#intro {
    background-image: url("images/space-road.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70%;
    margin: 0 auto;
}

body {
    color: white;
    margin: 0 auto;
}

header {
    color: black;
    margin: 0 auto;
    padding: 10px 3px 10px 0;
    width: 100%;
    height: 3em;
}


.topnav {
    display: inline;
    transition: 0.3s;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    float: right;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
}

h2 {
    font-family: "Nunito", sans-serif;
    text-align: center;
}

.intro-p {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5em;
    padding-left: 1em;
   
    width: 47%;
    margin: 0 auto;
    float: left;
}
.intro-p2{
        font-family: 'Libre Baskerville', serif;
    line-height: 1.5em;
   
    width: 47%;
    margin: 0 auto;
    float:right;
}
.clear-aboutme-float:after {
    content: "";
    display: block;
    clear: both;
}
.font-awesome{
    
}

#projects {
    background-color: #394c4a;
    margin: 0 auto;
}

.h2Header {
    margin: 0 0 50px 0;
}
.social-head{
    margin: 0 0 40px 0;
    
}
#contact {
    background-color: black;
    height: 30%;
    width: 100%;
    margin: 0 auto;
}
.form-div-container{
    display:inline-block;
    width: 47%;
}
input{
    display:block;
}
//media screen for 800px
@media all and (max-width:800px) {
    .image {
        margin: 0 auto;
        text-align: center;
    }
    #intro-float {
        margin: 20px auto;
    }
}

#projects:after {
    content: "";
    display: block;
    clear: both;
}

.clearMe:after {
    content: "";
    display: block;
    clear: both;
}

.random-Quote,
.will-pen {
    float: left;
    display: inline;
    width: 47%;
    margin-bottom: 30px;
    text-align: center;
}

.local-weather,
.form-pen {
    float: right;
    display: inline;
    width: 47%;
    text-align: center;
}

#img-size {
    width: 80%;
}

#img-size2 {
    width: 80%;
}

.caption1 {
    text-align: center;
    width: 20em;
    margin: 20px auto;
    line-height: 1.5em;
    padding: 10px 0 15px 0;
}

.caption2 {
    text-align: center;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    padding: 10px 0 15px 0;
}

@media all and (max-width:800px) {
    .local-weather,
    .random-Quote,
    .will-pen,
    .form-pen {
        display: block;
        float: none;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }
    .caption1,
    .caption2 {
        display: block;
        text-align: center;
        padding: .8em;
        line-height: 1.5em;
        width: 20em;
        margin-left: auto;
        margin-right: auto;
    }
}

.font-awesome {
    width: 47%;
    text-align: center;
    padding-top: 35px;
}

@media all and (max-width:800px) {
  
}
